/*----- 各页面共同样式部分 -----*/
@font-face {font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
} 
li { 
  list-style: none; 
}
a,a:hover { 
  text-decoration: none; 
  color: #566573;
}
body{
  background: #eee;
}

/****** 顶部样式 ******/
.menu{
  padding-top:10px;
  margin-bottom:0;
  border-bottom: 0;
}
.menu-search{
  left:-32px;
  top:5px;
  font-size: 17px;
  color: #748594;
  cursor: pointer;
}
.navbar-default .menu-info li.active a,.navbar-default .container .menu-info li a:hover{
  background-color:transparent;
  border-bottom:3px solid #0AB4F7;
}
/****** /顶部样式 ******/


/****** 登录注册界面 ******/

.form_box{
  width: 100%;
  height:100%;
  z-index:9999;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left:0;
  top:0;  
}
.log_box {
  width: 30%;
  height: 70%;
  background:white;
  margin:90px auto;
}
.log_box div{
  width:100%;
  height:16%;
  margin-bottom:4%;
  text-align:  center;
  position: relative;
}
.log_top{
  background-color:#00a0e9;
}
.log_top .form_close{
  position: absolute;
  left:20px;
  top: 25px;
  color:white;
  font-size: 18px;
}
.log_top .log_reg,
.log_top .reg_log{
  position: absolute;
  right:20px;
  top: 25px;
  color:white;
  font-size: 18px;
}

.log_info input{
  width: 60%;
  height: 40px;
  border:1px solid #47414133;
  border-radius: 20px;
  padding-left: 20px;
  margin-top: 30px;
  outline: none;
  box-sizing: border-box;
}
.log_info label{
  position: absolute;
  left:105px;
  top: 40px;
  color:#c5c5c5;
  font-size: 15px;
}
.log_info input:focus{
  border-color: #399AF2;
  border-radius: 10px;
  transition-duration: 0.6s;
}
.log_info input:focus+label{
  color: #399AF2;
  left: 25px;
  transition-duration: 0.6s;
}

.log,.reg{
  width: 60%;
  height: 40px;
  letter-spacing: 5px;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  border:none;
  cursor: pointer;
  outline: none;
  margin-top: 24px;
  
}
.log{
  background-color:#00a0e9;
}
.reg{
  background-color:#c70b0b;
}

.foot_ag{
  color: #c70b0b;
  margin-left:2px;
}
/****** /登录注册界面 ******/

/****** 底部样式 *******/
footer { 
  width: 100%; 
  background: #333; 
  color: #a5a4a4; 
  text-align: center; 
  padding: 15px 0; 
  clear: both; 
}
/****** /底部样式 *******/