/****** 轮播图 *******/
.banner .item{
	height: 300px;
}
.banner .item:nth-child(1){
	background: url(../images/carousel1_1920x400.jpg) no-repeat center center;
}
.banner .item:nth-child(2){
	background: url(../images/carousel2_1920x400.jpg) no-repeat center center;
}
.banner .item:nth-child(3){
	background: url(../images/carousel3_1920x400.jpg) no-repeat center center;
}
/****** /轮播图 *******/


/****** 文章 *******/
.blogs{
	margin:20px 0;
	background: #fff;
	padding:20px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12),
				0 3px 1px -2px rgba(0,0,0,0.06), 
				0 1px 5px 0 rgba(0,0,0,0.12), 
				0 -1px 0.5px 0 rgba(0,0,0,0.09);
}
.blogs div{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.blogs div .blogtitle{
	font-size: 20px;
	color: #00A7EB;
}

.blogs .blogtext{
	font-size: 15px;
	line-height:25px;
	height:52px;
	width: 100%;
	overflow: hidden;
	padding: 0 15px;
	margin-bottom: 20px;
}
.blogs div .bloginfo  li { 
	float: left; 
	font-size: 12px;
	color: #748594; 
	margin-right: 10px;
}
.blogs div .bloginfo li .iconfont{ 
	font-size: 12px;
    margin-right: 3px;
}
.blogs div .more{
	border: 1px black solid;
	padding:8px;
	position: relative;
	border-radius: 3px;

}
.blogs div .more:before,
.blogs div .more:after {
	border: 0 solid transparent;
	transition: all 0.25s;
	content: '';
	position: absolute;
	width: 0;
}
.blogs div .more:before {
	border-top: 2px solid #00A7EB;
	left: 0px;
	top: -5px;
}
.blogs div .more:after {
	border-bottom: 2px solid #00A7EB;
	bottom: -5px;
	right: 0px;
}

.blogs div .more:hover:before,
.blogs div .more:hover:after {
	height: 100%;
	width: 100%;
}
/****** /文章 *******/


/****** 侧边*******/
.about { 
	margin-top:20px;
	width:360px; 
	background: white url(../images/bg.jpg) no-repeat top center; 
	overflow: hidden;
	background-size:360px 130px; 
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12),
				0 3px 1px -2px rgba(0,0,0,0.06), 
				0 1px 5px 0 rgba(0,0,0,0.12), 
				0 -1px 0.5px 0 rgba(0,0,0,0.09);
}
.about1{
	position: fixed;
    top: 0px;	
}
.about .avatar { 
	margin: 80px auto 20px; 
	width: 100px; 	
}
.about .avatar img {
	background: #1296db;
}
.about .abname { 
	color: #3f3f3f; 
	font-weight: bold; 
	margin-bottom: 10px; 
	text-align: center; 
}
.about .abtext { 
	padding: 20px 40px; 
	color: #9a9a9a; 
	line-height: 26px; 
}
/****** /侧边 *******/