.navbar-default .menu-info li.active a {
    border-bottom: 3px solid #101010;
}
/* ******* 正文 ******** */
.main-part{
    margin-top: 20px;
}
.art_content section {
    background-color: #fff;
}
.art_box .art_title{
    margin:0 20px;
    padding-top:20px;
}
.art_box .art_info{
    width: 95%;
    height: 25px;
    margin: 10px 20px;
    border-bottom: 1px #748594 solid;
}
.art_box .art_info li { 
    float: left; 
    font-size: 12px; 
    color: #748594; 
    margin-right: 10px;
}
.art_box .art_info li .iconfont { 
    font-size: 12px;
    margin-right: 3px;
}
.art_box .art_con { 
    line-height: 30px;
    padding: 20px; 
}
.art_box .art_con p { 
    margin-bottom: 20px; 
}
.art_box .art_con img { 
    max-width: 100%; 
    margin-bottom: 20px;
}
/* ******* /正文 ******** */

/* ******* 评论 ******** */
.comment_box{
    margin: 20px 0;
    padding:20px;
    box-sizing: border-box;
}
.comment_box .comment_title{
    font-size: 18px;
    color:#748594;
    line-height: 2;
    border-bottom: #748594 1px solid;
}
.comment_box .comment_info{
    width: 90%;
    height:150px;
    margin-left: 5%;
    margin-top:30px;
    border:1px #748594 solid;
}
.comment_box .comment_info .comment{
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    padding: 10px;
    resize: none;
    outline: none;
    border:none;
    border-bottom: 1px #748594 solid;
}
.comment_box .comment_info .comment_name{
    font-size: 14px;
    color:#566573;
    margin-left:10px;
}
.comment_box .comment_info input::-webkit-input-placeholder{
    color:red;
}
.comment_box .comment_info input::-moz-placeholder{   
    color:red;
}
.comment_box .comment_info input:-moz-placeholder{    
    color:red;
}
.comment_box .comment_info input:-ms-input-placeholder{   
    color:red;
}
.comment_box .comment_info .name_input{
    width:100px;
    height: 36px;
    border:none;
    outline:none;
}
.comment_box .comment_info .send{
    float: right;
    line-height: 36px;
    margin-right: 10px;
}
.comment_box .comment_list{
    clear: both;
    margin-top: 50px;
    color:#748594;
    line-height: 2;
    border-bottom: #748594 1px solid;
}
.comment_box .comment_msg{
    width: 100%;
    background:white;
}
.comment_text{
    margin:20px 10px;
    padding:20px 0;
    border-bottom: 1px #748594 solid;
}
.comment_text .info_text{
    font-size:15px;
    line-height: 28px;
    margin-bottom: 10px;
}
.comment_text .info_msg{
    width: 100%;
    overflow: hidden;
}
.comment_text .info_msg .msg_time{
    float: left;
    font-size: 13px;
    color: #748594;
}
.comment_text .info_msg .msg_name{
    font-size: 13px;
    float: right;
    background: url(../images/auicon.jpg) no-repeat 0 0;
}
.comment_text .info_msg .msg_name a{
    color: #748594;
    margin-left:20px;
}
/* ******* /评论 ******** */

/* ******* aside ******** */

.tag {
    width: 360px;
    height: 300px;  
    background: white;
    padding: 30px;
    box-sizing: border-box;
}
.tag1{
    position: fixed;
    top: 20px;
}
.tag .tag_title { 
    font-size: 18px;
    padding-bottom: 15px; 
    margin-bottom: 25px; 
    position: relative; 
}
.tag .tag_title::after { 
    content: ""; 
    background-color: black; 
    position: absolute;
    left: 0; 
    bottom: 0;
    width: 40px; 
    height: 2px;    
}
.tag ul {
    font-size: 14px 
}
.tag ul li { 
    line-height: 24px;
    float: left; 
    padding: 3px 11px; 
    margin: 10px 10px 0 0; 
    border-radius: 8px; 
}
.tag ul li a{
    color: white;
}
.tag ul li:nth-child(5n) { 
    background: #FE4365
}
.tag ul li:nth-child(5n-1) { 
    background: #EB6841 
}
.tag ul li:nth-child(5n-2) { 
    background: #EDC951 
}
.tag ul li:nth-child(5n-3) { 
    background: #C8C8A9 
}
.tag ul li:nth-child(5n-4) { 
    background: #3299BB 
}
/* ******* /aside ******** */